#event__form--container {
    width: 75%;
    margin: 30px auto;
}

.event__form--section {
    margin-top: 40px;
}

.event__form--section-venue {
    margin-top: 10px;
}

.event__form--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 1.2em;
}

.form__submit--error,
.event__form--description {
    margin-left: auto;
    font-size: 12px;
    font-style: italic;
}

.event__form--content input[type="text"],
.event__form--content textarea {
    width: 100%;
}

.event__form--content input[type="radio"] {
    margin: 0 5px;
}

.event__form--content input[type="number"] {
    width: 30%;
}

.event__form--content input,
.event__form--content textarea,
.event__form--content select {
    padding: 8px 10px;
    margin: 8px 0;

    color: var(--body-color);
    font-family: var(--body-font);
    border: none;
    border-bottom: 1px solid var(--body-color);
    caret-color: var(--accent-color-2);
    background-color: rgba(33, 27, 66, 0.25);
}

.event__form--content input:focus,
.event__form--content textarea:focus,
.event__form--content select:focus {
    color: var(--accent-color-2);
    border-bottom: 1px solid var(--accent-color-2);
    outline: none;
}

.event__form--content input::placeholder,
.event__form--content textarea::placeholder {
    color: var(--medium-grey);
}

.event__form--content textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

.event__form--radio .event__form--checkbox {
    display: flex;
    align-items: center;
}

.event__form--venue-container {
    background-color: rgba(33, 27, 66, 0.25);
    margin: 20px 16px;
    padding: 12px 24px 20px;
    border-radius: 5px;
}

.event__form--submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.event__form--errors {
    margin: 32px 0 0 0;
    padding: 10px 14px;

    color: white;
    font-size: 0.8em;
    text-align: center;

    border-radius: 3px;
    border: 1px solid var(--accent-color-3);
    background-color: rgba(var(--accent-color-3-triplet), 0.3);
}

.form__submit--error {
    color: var(--accent-color-2);
}

.event__form--section input[type="file"] {
    color: transparent;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.event__form--upload {
    display: flex;
    margin: 8px 0;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 27, 66, 0.25);
    border-bottom: 1px solid white;
    gap: 10px;
}

.event__form--upload-inp {
    display: inline-block;
    box-sizing: border-box;
    margin: 8px 0;
    padding: 4px 10px;
    color: white;
    font-weight: 600;
    font-size: 0.9em;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    outline: none;
    background-color: var(--accent-color-4);
    opacity: 1;
    cursor: pointer;
}

.event__form--upload-inp:hover {
    background-color: var(--accent-color-4-light);
    transition: 0.3s;
}

.event__form--upload-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.event__form--upload-icon {
    padding-top: 2px;
}
