.delete__event--name {
    padding: 0 0 0 3px;
    font-weight: 600;
    font-style: italic;
}

.delete__event--body {
    padding: 20px;
}

.delete__event--text {
    padding-top: 20px;
}

.button__submit--cancel {
    background-color: var(--light-grey);
}

.button__submit--cancel:hover {
    background-color: var(--accent-color-3-light);
    transition: 0.3s;
}
