#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal__background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.4);
}

#modal__container {
    position: absolute;
    width: 410px;
    height: fit-content;

    padding: 50px 60px;

    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 5px;
    background-color: var(--modal-bg);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

#modal__container--heading {
    margin: 0 0 10px 0;

    font-size: 1.5em;
    font-weight: 500;
}

#modal__container input {
    width: 100%;
    padding: 8px 10px;
    margin: 8px 0;

    color: var(--light-neutral);
    border: none;
    border-bottom: 1px solid var(--light-neutral);
    caret-color: var(--accent-color-2);
    background: none;
}

#modal__container input:focus {
    color: var(--accent-color-2);
    border-bottom: 1px solid var(--accent-color-2);
    outline: none;
}

#modal__container input::placeholder {
    color: var(--medium-grey);
}

ul.modal__container--form-errors {
    margin: 14px 0;
    padding: 10px 14px 5px 28px;

    color: white;
    font-size: 0.9em;
    text-align: left;

    border-radius: 2px;
    border: 1px solid var(--accent-color-3);
    background-color: rgba(var(--accent-color-triplet), 0.3);
}

ul.modal__container--form-errors li {
    margin: 0 0 4px 0;
}

.modal__container--text {
    padding: 5px 0;

    font-size: 0.9em;
}
