#footer {
    width: 100%;
    margin: 60px 0 0;
}

.footer__divider {
    margin: 20px;
}

.footer__div--section ul {
    padding: 0 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

.footer__div--section li {
    margin: 5px;
    padding: 0 10px;

    flex-basis: 80px;
    flex-grow: 1;

    text-align: center;
}
