@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("utils.css");

:root {
  --body-font: "Inter", sans-serif;
  --heading-font: "Bebas Neue", sans-serif;
  --nav-bar: #1a0f23;
  --nav-bar-light: #2c1e36;
  --background: #0e0516;
  --accent-color-1: #cfae1b;
  --accent-color-1-light: #dabc39;
  --accent-color-2: #5ebaca;
  --accent-color-2-light: #67cbdd;
  --accent-color-3: #e74078;
  --accent-color-3-light: #fa4e88;
  --accent-color-triplet: 231, 64, 120;
  --accent-color-4: #603d80;
  --accent-color-4-light: #77509b;
  --light-neutral: #c2bfca;
  --light-grey: #a8a8a8;
  --medium-grey: #999999;
  --card-background: #261f38;
  --body-text: #c2bfca;
  --modal-bg: #24192e;
  --event-flag-1: #1b8a9e;
  --event-flag-2: #b14569;
  --event-flag-3: #603d80;
  --event-flag-4: #d6a212;
  --event-flag-5: #63b69d;
  --table-th: rgba(11, 1, 19, 0.651);
  --table-bg: rgba(27, 14, 37, 0.651);
  --table-tr-hover: rgba(42, 20, 59, 0.651);
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--body-text);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4em;
  /* background: rgb(230, 92, 184);
  background: linear-gradient(45deg, rgba(230, 92, 184, 1) 0%, rgba(97, 168, 232, 1) 100%); */

  /* background-attachment: fixed; */
  background-color: var(--background);

  overflow-y: scroll;
}

h1 {
  width: fit-content;
  /* padding: 0 0 30px 0; */

  color: var(--accent-color-1);
  font-family: var(--heading-font);
  font-size: 2.2em;
  font-weight: normal;
  line-height: 1.1em;

  border-bottom: 4px solid var(--accent-color-1);
}

h2 {
  font-weight: 400;
  font-size: 1.3em;
  margin: 24px 0;
}

h3 {
  color: var(--heading-small);
  font-family: var(--body-font);
  font-size: 1.3em;
  font-weight: 600;
}

a {
  text-decoration: none;
  outline: none;
}

hr {
  margin: 8px 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: none;
}
