@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("utils.css");

:root {
  --body-font: "Inter", sans-serif;
  --heading-font: "Bebas Neue", sans-serif;
  --nav-bar: #1a0f23;
  --nav-bar-light: #2c1e36;
  --background: #0e0516;
  --accent-color-1: #cfae1b;
  --accent-color-1-light: #dabc39;
  --accent-color-2: #5ebaca;
  --accent-color-2-light: #67cbdd;
  --accent-color-3: #e74078;
  --accent-color-triplet: 231, 64, 120;
  --accent-color-4: #603d80;
  --accent-color-4-light: #603d80;
  --light-neutral: #d2cfda;
  --light-grey: #a8a8a8;
  --medium-grey: #999999;
  --card-background: #261f38;
  --body-text: #ffe4f3;
  --modal-bg: #24192e;
  --event-flag-1: #1b8a9e;
  --event-flag-2: #b14569;
  --event-flag-3: #603d80;
  --event-flag-4: #d6a212;
  --event-flag-5: #63b69d;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--light-neutral);
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4em;
  /* background: rgb(230, 92, 184);
  background: linear-gradient(45deg, rgba(230, 92, 184, 1) 0%, rgba(97, 168, 232, 1) 100%); */

  /* background-attachment: fixed; */
  background-color: var(--background);

  overflow-y: scroll;
}
