@import url("../../index.css");

#nav {
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    display: grid;
    padding: 0 5vw;

    grid-template-columns: 1fr 200px 1fr;
    align-items: center;

    background-color: var(--nav-bar);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); */
}

#nav a {
    color: white;
    padding: 20px;
}

#nav a:hover {
    color: var(--accent-color-1-light);
}

.nav__link--center {
    text-align: center;
    height: 100%;
    font-size: 0;
    background-image: url("../../assets/carpediem-mini.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160px;
}

.nav__link--left {
    display: flex;
    justify-content: left;
}

.nav__link--right {
    display: flex;
    justify-content: right;
}
